<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main" class="container-fluid vh-100">
    <div class="row vh-100">
        <!-- -----------------------------------Столбец-->
        <div id="column" class="col-3 h-100">
            <!--------------------------------------Список всех Организаций-->
            <div id="organization-list" style="height: 23%;" class="bg-light text-dark">
                <p>
                <h6>Список всех Организаций
                    <button id="organization-create" type="button" class="btn btn-primary btn-sm">Создать</button>
                </h6>
                </p>
                <div class="organization-list-scroll" style="height: 80%; overflow-x:scroll;overflow-y:scroll;">
                    <ul id="organization-ul" class="list-group">
                        <!-----------------------Дерево кнопок Staff---------- -->
                    </ul>
                </div>
            </div>
            <!-------------------------------------Список Task-->
            <div id="task-list" style="height: 23%">
                <p>
                <h6>Список поручений
                    <button id="task-create" type="button" class="btn btn-primary btn-sm">Создать</button>
                </h6>
                </p>
                <div class="task-list-scroll" style="height: 80%; overflow-x:scroll;overflow-y:scroll;">
                    <ul id="task-ul" class="list-group">
                        <!--                        <li id="person-li" class="list-group-item">-->
                        <!--                            <button id="person-button" type="button" class="btn btn-secondary" style="width: 100%">Работник#1</button>-->
                        <!--                        </li>-->
                    </ul>
                </div>
            </div>
            <!--------Список входящих-->
            <div id="incoming-list" style="height: 22%">
                <p>
                <h6>Список входящих
                    <button id="incoming-create" type="button" class="btn btn-primary btn-sm">Создать</button>
                </h6>
                </p>
                <div class="incoming-list-scroll" style="height: 80%; overflow-x:scroll;overflow-y:scroll;">
                    <ul id="incoming-ul" class="list-group">
                        <!--                        <li id="person-li" class="list-group-item">-->
                        <!--                            <button id="person-button" type="button" class="btn btn-secondary" style="width: 100%">Работник#1</button>-->
                        <!--                        </li>-->
                    </ul>
                </div>
            </div>
            <!------Список исходящих-->
            <div id="outgoing-list" style="height: 25%">
                <p>
                <h6>Список исходящих
                    <button id="outgoing-create" type="button" class="btn btn-primary btn-sm">Создать</button>
                </h6>
                </p>
                <div class="outgoing-list-scroll" style="height: 80%; overflow-x:scroll;overflow-y:scroll;">
                    <ul id="outgoing-ul" class="list-group">
                        <!--                        <li id="person-li" class="list-group-item">-->
                        <!--                            <button id="person-button" type="button" class="btn btn-secondary" style="width: 100%">Работник#1</button>-->
                        <!--                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
        <!------------------------------------- Окно информации-->
        <div id="windows-information" class="col-8 border">
            <!----------------------------------------- Список кнопок для вкладок -------->
            <ul class="nav nav-tabs" id="tabButton">
<!--                <li class="nav-item" role="presentation">-->
<!--                    <a class="nav-link" id="nav-user-tab" data-bs-toggle="pill" href="#nav-table">-->
<!--                        Имя вкладки-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item" role="presentation">-->
<!--                    <a class="nav-link" id="nav-newUser-tab" data-bs-toggle="pill" href="#nav-table1">-->
<!--                        New User-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
            <!------------------------ Список вкладок -->
            <div class="tab-content" id="myTabContent">
<!--                <div class="tab-pane fade" id="nav-table">-->
<!--                    1Информация о работнике\документе-->
<!--                </div>-->
<!--                <div class="tab-pane fade" id="nav-table1">-->
<!--                    №2 Информация о работнике\документе-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/static/staff/person.js"></script>
<script src="/static/staff/organization.js"></script>
<script src="/static/staff/department.js"></script>
<script src="/static/document/task.js"></script>
<script src="/static/document/incoming.js"></script>
<script src="/static/document/outgoing.js"></script>
</body>
</html>