<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="main" class="container-fluid vh-100">
    <div class="row vh-100">
        <!-- -----------------------------------Столбец-->
        <div id="column" class="col-3 h-100">Столбец
            <!--------------------------------------Список работников-->
            <div id="personList" style="height: 45%;">
                <p>
                <h5>Список работников
                    <button id="personCreate" type="button" class="btn btn-outline-primary">Создать</button>
                </h5>
                </p>
                <div style="height: 80%; overflow-x:scroll;overflow-y:scroll;">
                    <div>
                        <button type="button">Работник№1</button>
                    </div>
                </div>
            </div>
            <!-------------------------------------Список документов-->
            <div id="documentList" style=" margin-top: 30px">
                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#documentListButton">
                        Кнопка список документов.
                    </button>
                </p>
                <div class="collapse" id="documentListButton">
                    <div class="card card-body">
                        <button id="documentButton" type="button" class="btn btn-primary">Документ#1</button>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------Окно информации-->
        <div id="windowsInformation" class="col-8 border">Информация</div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>